---
---
@charset "utf-8";

@import "_variables";
@import "_typography";
@import 'jeet/index';


body {
    background: $uqam-blue;
    margin: 0;
    padding: 10px;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    background: white;

    @media #{$desktop} {
        margin: 40px auto;
    }
}

.padded {
    @include padded;
}

.hide-mobile {
    display: none;

    @media #{$desktop} {
        display: inline-block;
    }
}

.hide-desktop {
    @media #{$desktop} {
        display: none;
    }
}

.content-nosidebar-wrapper {
    @include cf;

    @media #{$desktop} {
    }
}

.content-sidebar-wrapper {
    @include cf;

    .sidebar {
        @include padded;
    }

    @media #{$desktop} {
        .main-content {
            @include col(8/12);
        }

        .sidebar {
            @include col(4/12);
        }
    }
}

// Modules
@import "_forms";
@import "_banner";
@import "_navigation";
@import "_map";
@import "_members";

