<div class="banner">

    <img class="banner-image" src="../images/dyck-path.jpeg" />

    <div class="text-section">
        <h1 class="title">
            <!-- {{ site.title }} -->
            Laboratoire d'Algèbre, <br>
            de Combinatoire et <br>
            d’Informatique Mathématique
        </h1>
    </div>

    {% capture language_link %}../{{page.other_language.path}}{% endcapture%}
    <a href="{{ language_link }}" data-lang-key="{{page.other_language.path}}" class="language-link">{{ page.other_language.name }}</a>

</div>
