<div class="banner">

    <img class="banner-image" src="/images/dyck-path.jpeg" />

    <div class="text-section">
        <h1 class="banner-title">
            <p>Laboratoire</p> <span>d'<p>Algèbre</p></span>,
            de <p>Combinatoire</p> et
            <span>d’<p>Informatique</p></span> <p>Mathématique</p>
        </h1>
        <!-- <img src="/images/LACIM_Norm_Blanc_Ext_cropped.png"> -->
    </div>

    {% if page.other_language.path %}
    {% capture language_link %}/{{page.other_language.path}}{% endcapture %}
    <a href="{{ language_link }}" data-lang-key="{{page.other_language.path}}" class="language-link">{{ page.other_language.name }}</a>
    {% endif %}

</div>
