<div class="primary-nav">
    {% for link in site.data[page.lang].navigation %}
    {% capture actual_url_with_lang %}/{{ page.lang }}{{link.actual_url}}{% endcapture %}
        <a {% if actual_url_with_lang == page.url %} class="active"{% endif %} href="{{ link.url }}">
        {{ link.name }}
        </a>
    {% endfor %}
</div>

<div class="secondary-nav">
    <ul>
    {% for link in site.data[page.lang].navigation %}
        {% capture actual_url_with_lang %}/{{ page.lang }}{{link.actual_url}}{% endcapture %}
        {% if actual_url_with_lang == page.url %}
            {% for subfolder in link.subfolderitems %}
            <li> <a href="#{{ subfolder.heading }}"> {{ subfolder.heading }} </a> </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul>
</div>
