.banner {
    $text_overlay_colour: rgba($dark_grey, 0.9);
    position: relative;

    .banner-image {
        width: 100%;
        display: block;
    }

    .text-section {
        @include padded;
        background: $dark_grey;
        color: white;
    }

    .text-section img {
        height: 80px;
    }

    .banner-title {
        @include title-2;
        font-family: $heading_font;
        font-weight: 400;
        margin: 0;
        padding: 0;

        span {
          display: inline-block;
          font-weight: 400;
          margin: 0px;
          padding: 0px;
        }

        p {
          display: inline-block;
          font-weight: 400;
          margin: 0px;
          padding: 0px;
          line-height: 1;
        }

        p::first-letter {
          display: inline-block;
          font-weight: 400;
          font-size: 1.2em;
          font-family: "Architects Daughter";
          color: orange;
        }

    }


    .language-link {
        background: $text_overlay_colour;
        position: absolute;
        top: 50px;
        right: 0;
        font-family: $heading_font;
        color: white;
        text-decoration: none;
        text-shadow: 0 0 1px black;
        font-size: 0.8em;
        padding: 6px 16px;
    }

    @media #{$desktop} {
        .text-section {
            position: absolute;
            right: 0;
            bottom: 21px;
            width: 49%;
        }

        .text-section img {
          height: 100%;
          width: 100%;
        }

        .banner-title {
            @include title-2;
            margin: 0;
        }

    }
}
