.banner {
    $text_overlay_colour: rgba($dark_grey, 0.9);
    position: relative;

    .banner-image {
        width: 100%;
        display: block;
    }

    .text-section {
        @include padded;
    }

    .title {
        @include title-3;
        font-family: $heading_font;
        font-weight: 400;
        margin: 0;
    }

    .language-link {
        background: $text_overlay_colour;
        position: absolute;
        top: 50px;
        right: 0;
        font-family: $heading_font;
        color: white;
        text-decoration: none;
        text-shadow: 0 0 1px black;
        font-size: 0.8em;
        padding: 6px 16px;
    }

    @media #{$desktop} {
        .text-section {
            position: absolute;
            right: 0;
            bottom: 0px;
            width: 100%;
            background: $text_overlay_colour;
            color: white;
        }

        .title {
            @include title-2;
            margin: 0;
            // text-shadow: 3px 3px 3px gray;
        }

    }
}
