.fancy-list {
    ul {
        list-style: none;
        padding-left: 0px;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 3em;

        li {
            padding: 0.5em 10px;
            @include box-sizing(border-box);

            background: $lighter_grey;

            &:nth-child(2n) {
                background: $white;
            }

            font-family: $heading_font;
            display: block;
        }
    }

    em {
      font-family: "Cardo", "Georgia", serif;
      font-size: 1.125em;
    }
}

.fancy-list-two-columns > ul {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;

  @media #{$desktop} {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.fancy-list-date {
    font-family: $heading_font;
    font-size: 0.9em;
    width: 8em;
    vertical-align: top;
    display: inline-block;
}

.fancy-list-item {
    display: inline-block;
}
