.btn {
    @include button-styles;
}

.form-row {
    padding: 10px 0;
}

.form {

    @media #{$desktop} {
        @include cf;

        .form-row {
            @include col(6/12, $offset: 3/12);
        }
    }
}

input[type="text"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
}

input[type="text"],
input[type="email"] {
    border: 1px solid $light_grey;
    font: inherit;
    font-family: $heading_font;
    color: lighten($dark_grey, 10%);
    font-size: 0.8em;
    padding: 5px;
    @include box-sizing(border-box);
    width: 100%;

    &:focus {
        outline: none;
        border: 1px solid $green;
    }
}

input[type="submit"][disabled="disabled"] {
    background: $light_grey;
}

label {
    font-family: $heading_font;
    display: block;
    padding: 5px 0;
    font-size: 0.8em;

    &.label-radio {
        font-weight: 400;
    }

    .span-radio {}

    @media #{$desktop} {
        &.label-radio {
            padding-left: 5px;

            &:hover {
                color: $blue;
                background: lighten($light_grey, 2%);
                cursor: pointer;
            }
        }
    }
}
