.membres-liste {
    ul {
        list-style: none;
        padding-left: 0px;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 3em;

        li {
            padding: 0.5em 10px;
            @include box-sizing(border-box);

            background: $lighter_grey;

            &:nth-child(2n) {
                background: $white;
            }

            font-family: $heading_font;
            display: block;
        }
    }

    em {
      font-family: "Cardo", "Georgia", serif;
    }
}
