.membres-liste {
    ul {
        list-style: none;
        margin-bottom: 3em;
        margin-right: 40px;

        li {
            padding: 0.5em 10px;
            @include box-sizing(border-box);

            background: $lighter_grey;

            &:nth-child(2n) {
                background: $white;
            }

            font-family: $heading_font;
            display: block;
        }
    }
}
