.primary-navigation-menu {
    background: $dark_grey;
    text-align: center;
    @include cf;

    .navigation-menu-item {
        padding: 5px 0;
        @include col(4/12, $cycle: 3);

        &.active {
            background: lighten($dark_grey, 20%);
        }

        &:hover {
            background: rgba(white, 0.1);
        }
    }

    a {
        font-family: $heading_font;
        font-size: 0.8em;
        color: white;
        text-decoration: none;

        &.active {
          color: $dark_grey;
        }

    }

    @media #{$desktop} {
      .navigation-menu-item {

        @include col(2/12, $cycle: 6, $uncycle: 3, $gutter: 0);
        color: $white;

        &.active {
            background: white;
        }
      }

      a {
          font-size: 1em;
      }
    }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: left;
  color: $dark_grey;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $light_grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.secondary-nav {
    background: $white;
    text-align: center;
    @include cf;
    padding-top: 1em;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
        font-family: $heading_font;
        font-size: 1.0em;
        // color: black;
        // padding: 5px 0;
    }

    li {
      display: inline-block;

      &:not(:last-child):after{
        content: " | ";
      }

    }

    @media #{$desktop} {
    }
}
