.seminar-page {

    details > summary {
      list-style-type: '\21C5';
    }

    details[open] > summary {
      list-style-type: '\21C5';
    }

    .abstract {
      padding-top: 3px;
      font-size: 0.8em;
    }

}

@media #{$desktop} {
    .seminar-page {
        .fancy-list-item {
          width: 85%;
        }
    }
}
