.fancy-list-page .main-content {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 3em;

        li {
            padding: 0.5em 10px;
            @include box-sizing(border-box);
            background: $lighter_grey;

            &:nth-child(2n) {
                background: $white;
            }
        }
    }
}

.fancy-list-time {
    font-weight: 400;
    font-family: $heading_font;
    display: inline;
}

.fancy-list-item {
    display: block;
}

.seminar-page {

    details > summary {
      list-style-type: '\21C5';
    }

    details[open] > summary {
      list-style-type: '\21C5';
    }

    .abstract {
      padding-top: 3px;
      font-size: 0.8em;
    }

    .fancy-list-time {
        font-size: 0.9em;
        width: 8em;
        vertical-align: top;
    }
}

@media #{$desktop} {
    .fancy-list-time, .fancy-list-item  {
        display: inline-block;
    }

    .seminar-page {
        .fancy-list-time {
        }

        .fancy-list-item {
          width: 85%;
        }
    }
}
