.fancy-list-page .main-content {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 3em;

        li {
            padding: 0.5em 10px;
            @include box-sizing(border-box);
            background: $lighter_grey;

            &:nth-child(2n) {
                background: $white;
            }
        }
    }
}

.fancy-list-time {
    font-weight: 400;
    font-family: $heading_font;
    display: block;
}

.fancy-list-item {
    display: block;
}

.seminar-page {

    details > summary {
      list-style-type: '»';
    }

    details[open] > summary {
      list-style-type: '«';
    }

    .abstract {
      font-size: 0.75em;
      width: 500px;
    }

    .fancy-list-time {
        width: 8em;
        vertical-align: top;
    }
}

@media #{$desktop} {
    .fancy-list-time, .fancy-list-item  {
        display: inline-block;
    }

    .participants-page {
        .fancy-list-time {
            width: 100%;
            // width: 50%;
        }

        .fancy-list-item {
            width: 100%;
            // width: 50%;
        }
    }
}
