{% include header.html %}

<div class="content-nosidebar-wrapper padded">
    <div class="main-content">
        {{ content }}

        <h2>{{ site.data.common.director.title }}</h2>
        <p class="contact-info">
            <b> {{ site.data.common.director.name }} </b>
            <br />
            <a href="mailto:{{ site.data.common.director.email }}">{{ site.data.common.director.email }}</a>
            <br />
            {{ site.data.common.contact.phone }}
        </p>

        <h2>{{ site.data.common.coordinator.title }}</h2>
        <p class="contact-info">
            <b> {{ site.data.common.coordinator.name }} </b>
            <br />
            <a href="mailto:{{ site.data.common.coordinator.email }}">{{ site.data.common.coordinator.email }}</a>
            <br />
            {{ site.data.common.coordinator.phone }}
        </p>

        <h2>Adresse postale</h2>
        <p class="contact-info">
            {{ site.data.common.postal-address.name }} <br />
            {{ site.data.common.postal-address.address1 }} <br />
            {{ site.data.common.postal-address.address2 }} <br />
            {{ site.data.common.postal-address.city }},
            {{ site.data.common.postal-address.province }},
            {{ site.data.common.postal-address.postal-code }}
            <br />
        </p>

        <h2>Adresse physique</h2>
        <p class="contact-info">
            {{ site.data.common.physical-address.address1 }} <br />
            {{ site.data.common.physical-address.address2 }} <br />
            {{ site.data.common.physical-address.city }},
            {{ site.data.common.physical-address.province }},
            {{ site.data.common.physical-address.postal-code }}
        </p>
    </div>
</div>

{% include sponsors.html %}
{% include footer.html %}
