{% include header.html %}

<div class="content-nosidebar-wrapper padded">
    <div class="main-content">
        {{ content }}

        <h2>
        {% if page.lang == "en" %}
            LACIM Direction Team
        {% elsif page.lang == "fr" %}
            Équipe de direction du LACIM
        {% endif %}
        </h2>
        <p class="contact-info">
            <a href="{{ site.data.contact.director.website }}">{{ site.data.contact.director.name }}</a> <i>(Directeur)</i>
            &
            <a href="{{ site.data.contact.deputy-director.website }}">{{ site.data.contact.deputy-director.name }}</a> <i>(Directeur adjoint)</i> </br>
            <i>Contact</i>: <a href="mailto:{{ site.data.contact.organisation.email }}">{{ site.data.contact.organisation.email }}</a>
        </p>

        <h2>
        {% if page.lang == "en" %}
            Mailing address
        {% elsif page.lang == "fr" %}
            Adresse postale
        {% endif %}
        </h2>
        <p class="contact-info">
            {{ site.data.contact.postal-address.name }} <br />
            {{ site.data.contact.postal-address.address1 }} <br />
            {{ site.data.contact.postal-address.address2 }} <br />
            {{ site.data.contact.postal-address.city }},
            {{ site.data.contact.postal-address.province }},
            {{ site.data.contact.postal-address.postal-code }}
            <br />
        </p>

        <h2>
        {% if page.lang == "en" %}
            Physical address
        {% elsif page.lang == "fr" %}
            Adresse physique
        {% endif %}
        </h2>
        <p class="contact-info">
            {{ site.data.contact.physical-address.address1 }} <br />
            {{ site.data.contact.physical-address.address2 }} <br />
            {{ site.data.contact.physical-address.city }},
            {{ site.data.contact.physical-address.province }},
            {{ site.data.contact.physical-address.postal-code }}
        </p>
    </div>
</div>

{% include sponsors.html %}
{% include footer.html %}
