{% include header.html %}

<div class="content-nosidebar-wrapper padded">
    <div class="main-content">
        {{ content }}

        <h2>
        {% if page.lang == "en" %}
            LACIM Direction Team
        {% elsif page.lang == "fr" %}
            Équipe de direction du LACIM
        {% endif %}
        </h2>
        <p class="contact-info">
        <ul>
            <li>
                <b>{{ site.data.common.director.name }}</b> (Directeur)
            </li>
            <li>
                <b>{{ site.data.common.deputy-director.name }}</b> (Directeur adjoint)
            </li>
            <li>
                adresse courriel: <a href="mailto:{{ site.data.common.coordinator.email }}">{{ site.data.common.coordinator.email }}</a>
            </li>
        </ul>
        </p>

        <h2>
        {% if page.lang == "en" %}
            Mailing address
        {% elsif page.lang == "fr" %}
            Adresse postale
        {% endif %}
        </h2>
        <p class="contact-info">
            {{ site.data.common.postal-address.name }} <br />
            {{ site.data.common.postal-address.address1 }} <br />
            {{ site.data.common.postal-address.address2 }} <br />
            {{ site.data.common.postal-address.city }},
            {{ site.data.common.postal-address.province }},
            {{ site.data.common.postal-address.postal-code }}
            <br />
        </p>

        <h2>
        {% if page.lang == "en" %}
            Physical address
        {% elsif page.lang == "fr" %}
            Adresse physique
        {% endif %}
        </h2>
        <p class="contact-info">
            {{ site.data.common.physical-address.address1 }} <br />
            {{ site.data.common.physical-address.address2 }} <br />
            {{ site.data.common.physical-address.city }},
            {{ site.data.common.physical-address.province }},
            {{ site.data.common.physical-address.postal-code }}
        </p>
    </div>
</div>

{% include sponsors.html %}
{% include footer.html %}
