{% include header.html %}

{% if page.sidebar %}
    {% assign content_wrapper_class = "content-wrapper-sidebar" %}
{% else %}
    {% assign content_wrapper_class = "content-wrapper-nosidebar" %}
{% endif %}
<div class="{{ content_wrapper_class }} padded">
    <div class="main-content">
        {{ content }}

        <h2>
        {% if page.lang == "en" %}
            Announcements
        {% elsif page.lang == "fr" %}
            Annonces
        {% endif %}
        </h2>
        <ul>
            {% for post in site.posts %}
            <li>
                {{ post.date | localize: "%-d %B %Y", page.lang }}:
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if page.sidebar %}
    <div class="sidebar">
        <img src="{{ page.sidebar.image }}" width="100%" />
    </div>
    {% endif %}
</div>

{% include sponsors.html %}

{% include footer.html %}
