{% include header.html %}

<div class="content-nosidebar-wrapper">
    <div class="membres-liste">
        <h2>Membres réguliers</h2>
        <ul>
            {% for member in site.data.members %}
            {% if member.category == "Membre régulier" %}
            <li>
                <div class="member">
                    <a href="{{ member.website }}">{{ member.name }}</a>,
                    {{ member.affiliation }} <br>
                    <em>{{ member.research_interests }}</em>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="membres-liste">
        <h2>Membres collaborateurs</h2>
        <ul>
            {% for member in site.data.members %}
            {% if member.category == "Membre collaborateur" %}
            <li>
                <div class="member">
                    <a href="{{ member.website }}">{{ member.name }}</a>,
                    {{ member.affiliation }} <br>
                    <em>{{ member.research_interests }}</em>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="membres-liste">
        <h2>Membres postdoctoraux</h2>
        <ul>
            {% for member in site.data.members %}
            {% if member.category == "postdoc" %}
            <li>
                <div class="member">
                    <a href="{{ member.website }}">{{ member.name }}</a>,
                    {{ member.affiliation }} <br>
                    <em>{{ member.research_interests }}</em>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% include footer.html %}

