{% include header.html %}

<div class="contact-wrapper-nosidebar padded">
    <div class="membres-liste">
        <h2 id="membres-réguliers">
        {% if page.lang == "en" %}
            Regular members
        {% elsif page.lang == "fr" %}
            Membres réguliers
        {% endif %}
        </h2>
        <ul>
            {% for member in site.data.members %}
            {% if member.category == "Membre régulier" %}
            <li>
                <div class="member">
                    <a href="{{ member.website }}">{{ member.name }}</a>,
                    {{ member.affiliation }} <br>
                    <em>
                    {% if page.lang == "en" %}
                        {{ member.research_interests }}
                    {% elsif page.lang == "fr" %}
                        {{ member.interets_de_recherche }}
                    {% endif %}
                    </em>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="membres-liste">
        <h2 id="postdocs">
        {% if page.lang == "en" %}
            Postdoctoral Fellows
        {% elsif page.lang == "fr" %}
            Membres postdoctoraux
        {% endif %}
        </h2>
        <ul>
            {% for member in site.data.members %}
            {% if member.category == "postdoc" %}
            <li>
                <div class="member">
                    <a href="{{ member.website }}">{{ member.name }}</a>,
                    {{ member.affiliation }} <br>
                    <em>
                    {% if page.lang == "en" %}
                        {{ member.research_interests }}
                    {% elsif page.lang == "fr" %}
                        {{ member.interets_de_recherche }}
                    {% endif %}
                    </em>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="membres-liste">
        <h2 id="collaborateurs">
        {% if page.lang == "en" %}
            Research Collaborators
        {% elsif page.lang == "fr" %}
            Membres collaborateurs
        {% endif %}
        </h2>
        <ul>
            {% for member in site.data.members %}
            {% if member.category == "Membre collaborateur" %}
            <li>
                <div class="member">
                    <a href="{{ member.website }}">{{ member.name }}</a>,
                    {{ member.affiliation }} <br>
                    <em>
                    {% if page.lang == "en" %}
                        {{ member.research_interests }}
                    {% elsif page.lang == "fr" %}
                        {{ member.interets_de_recherche }}
                    {% endif %}
                    </em>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% include sponsors.html %}

{% include footer.html %}
