{% include header.html %}

{% if page.sidebar %}
    {% assign content_wrapper_class = "content-wrapper-sidebar" %}
{% else %}
    {% assign content_wrapper_class = "content-wrapper-nosidebar" %}
{% endif %}
<div class="{{ content_wrapper_class }} padded posts">
    <div class="main-content">
        <div class='post-info-date'>publié le {{ page.date | localize: "%-d %B %Y", page.lang }}</div>
        {{ content }}
    </div>

    {% if page.sidebar %}
    <div class="sidebar">
        <img src="{{ page.sidebar.image }}" width="100%" />
    </div>
    {% endif %}
</div>

{% include sponsors.html %}

{% include footer.html %}

