{% include header.html %}

{% if page.sidebar %}
    {% assign content_wrapper_class = "content-wrapper-sidebar" %}
{% else %}
    {% assign content_wrapper_class = "content-wrapper-nosidebar" %}
{% endif %}
<div class="{{ content_wrapper_class }} padded posts">
    <div class="main-content">
        {{ content }}

        {% if page.source %}
        <div class='post-source'>source: <a href="{{ page.source.link }}">{{ page.source.text }}</a></div>
        {% endif %}

        <div class='post-info-date'>publié le {{ page.date | date: "%Y-%m-%d" }}</div>
    </div>

    {% if page.sidebar %}
    <div class="sidebar">
        {% if page.sidebar.image %}
            <div align='center'>
                <img src="{{ page.sidebar.image }}" width="100%" />
            </div>
        {% elsif page.sidebar.images %}
            {% assign images = page.sidebar.images %}
            {% for image in images %}
            {% if image.width %}
                {% assign width = image.width %}
            {% else %}
                {% assign width = "100%" %}
            {% endif %}
            <div align='center'>
                <img src="{{ image.filename }}" width="{{ width }}" />
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% include sponsors.html %}

{% include footer.html %}

