{% include header.html %}

<div class="content-wrapper-nosidebar padded">
    <div class="main-content">
        {{ content }}

        <div class="fancy-list">
            <ul>
                {% for publication in site.data.publications-du-lacim %}
                <li>
                    <div class="publication">
                        <a href="/les-parutions/LACIM-Publications-Volume-{{ publication.volume }}.pdf">{{ publication.title }}</a>
                        <br>
                        {{ publication.author }}
                        <br>
                        <em>Publications du LACIM, volume {{ publication.volume }} ({{ publication.year }})</em>
                        {% if publication.note %}
                        <div class="publication-note">
                            <blockquote>
                            {{ publication.note }}
                            </blockquote>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

{% include sponsors.html %}
{% include footer.html %}
