<html>
<head>
    <meta charset="utf-8"/>

    {% if page.redirect %}
    <meta http-equiv="refresh" content="1;url={{ page.redirect.to }}"/>
    <link rel="canonical" href="{{ page.redirect.to }}"/>
    {% else %}
    <script type="text/javascript">
    (function () {
        // Redirect to French or preferred language
        var languagePreference = localStorage.getItem('languagePreference');
        location.href = location.href + '/' + (languagePreference || 'fr');
    })();
    </script>
    {% endif %}

     <title>Page Redirection</title>
 </head>

Redirecting to {{ page.redirect.to }}

 </html>
