{% include header.html %}

<div class="contact-wrapper-nosidebar padded">

    {{ content }}

    {% if page.lang == "en" %}
        <h3>Upcoming seminars</h3>
    {% elsif page.lang == "fr" %}
        <h3>Calendrier</h3>
    {% endif %}
    <div class="fancy-list upcoming-seminars">
        <ul>
            {% assign today = site.time | date: "%s" | minus: 86400 %}
            {% for seminar_talk in site.data.lacim-seminar reversed %}
                {% assign seminar_date = seminar_talk.date | date: "%s" | plus: 0 %}
                {% if seminar_date >= today %}
                <li>
                    <div class="fancy-list-date">
                        {{ seminar_talk.date }}
                        <br> <em> {{ seminar_talk.time | default: "" }} </em>
                    </div>
                    <span class="fancy-list-item">
                        {{ seminar_talk.speaker }},
                        {{ seminar_talk.affiliation }}
                        <br>
                        <em>{{ seminar_talk.title }}</em>
                        <div class="abstract">
                        <details>
                            <summary>
                            {% if page.lang == "en" %}
                                Abstract
                            {% elsif page.lang == "fr" %}
                                Résumé
                            {% endif %}
                            </summary>
                            {% assign paragraphs = seminar_talk.abstract | newline_to_br | strip_newlines | split : '<br />' %}
                            {% for paragraph in paragraphs %}
                            <p>
                                {{ paragraph | markdownify }}
                            </p>
                            {% endfor %}
                        </details>
                        </div>
                    </span>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% assign sorted = site.data.seminaire-historique | sort:"date" %}
    {% assign today = site.time | date: "%s" | minus: 86400 %}
    {% for seminar_talk in site.data.lacim-seminar reversed %}
        {% assign seminar_date = seminar_talk.date | date: "%s" | plus: 0 %}
        {% if seminar_date < today %}
            {% assign sorted = sorted | push: seminar_talk %}
        {% endif %}
    {% endfor %}

    {% if page.lang == "en" %}
        <h3>Previous seminars</h3>
    {% elsif page.lang == "fr" %}
        <h3>Séminaires précédents</h3>
    {% endif %}
    <div class="fancy-list">
        <ul>
            {% for seminar_talk in sorted reversed %}
                <li>
                    <div class="fancy-list-date">
                        {{ seminar_talk.date }}
                        <br> <em> {{ seminar_talk.time | default: "" }} </em>
                    </div>
                    <span class="fancy-list-item">
                        {{ seminar_talk.speaker }},
                        {{ seminar_talk.affiliation }}
                        <br>
                        <em>{{ seminar_talk.title }}</em>
                        <div class="abstract">
                        <details>
                            <summary>
                            {% if page.lang == "en" %}
                                Abstract
                            {% elsif page.lang == "fr" %}
                                Résumé
                            {% endif %}
                            </summary>
                            {% assign paragraphs = seminar_talk.abstract | newline_to_br | strip_newlines | split : '<br />' %}
                            {% for paragraph in paragraphs %}
                            <p>
                                {{ paragraph }}
                            </p>
                            {% endfor %}
                        </details>
                        </div>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include sponsors.html %}

{% include footer.html %}
